/* ============Basics================ */

body {
  font-family: 'Cinzel', serif;
  text-align: center;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(94, 131, 96);
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
}
ol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ol, ul {
  padding: 15px;
}

li{
  list-style: none;
  margin: 5px;
}

li button {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: rgb(94, 131, 96);
  background: rgb(1, 24, 14);
  border: 1px solid rgb(56, 73, 57);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* ============Square================ */

.square {
  background: rgba(1, 24, 14, 0.639);
  border: 1px solid rgb(31, 69, 36);
  color: white;
  float: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(31, 69, 36);
}

.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}

/* ============Board================= */

.board-row:after {
  clear: both;
  content: "";
  display: table;
}



/* ============Game================= */

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  color: rgb(94, 131, 96);
  font-size: 20px;
  order: 1;
  border-radius: 5px;
  padding: 30px 30px 5px 30px;
  background: rgba(36, 44, 37, 0.5);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
  flex-basis: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.game-board {
  order: 2;
  margin: 30px;
  border-radius: 5px;
  padding: 40px;
  max-width: 600px;
}

.winning-square {
  background: rgba(38, 248, 6, 0.664);
  border: 1px solid rgb(31, 69, 36);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
  .square {
    width: 80px;
    height: 80px;
    font-size: 2em;
  }

  .game-board, .game-info {
    max-width: 100%;
  }
}
