body {
  font-family: 'Cinzel', serif;
  text-align: center;
  background-image: url("https://rare-gallery.com/uploads/posts/510712-cthulhu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
  
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(94, 131, 96);
  text-shadow: 2px 2px 2px rgb(16, 18, 16);
}

ol, ul {
  padding: 15px;
}

li{
  list-style: none;
}

li button {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: rgb(94, 131, 96);
  background: rgb(1, 24, 14);
  border: 1px solid rgb(56, 73, 57);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
  
.status {
  margin-bottom: 10px;
}
  
.square {
  background: rgba(1, 24, 14, 0.639);
  border: 1px solid rgb(31, 69, 36);
  color: white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}
  
.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}
  
.game {
  display: flex;
  flex-direction: row;

}

  
.game-info {
  margin-left: 20px;
  color: rgb(94, 131, 96);
  font-size: 20px;
  order: 1;
  border-radius: 5px;
  padding: 30px 30px 5px 30px;
  margin: 10px 30px;
  background: rgba(36, 44, 37, 0.5);
  box-shadow: 2px 2px 2px rgb(16, 18, 16);
}

.game-board {
  order: 2;
  margin: 30px;
  border-radius: 5px;
  padding: 40px;
}